[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
websocket-client = "*"

[requires]
python_version = "3.8"

[scripts]
main = "python cryptic_status.py"
